<h1 class="text-3xl font-bold" *ngIf="!user">Hello</h1>
<!-- app.component.html or any appropriate template file -->

<nav class="bg-gray-800 p-4" *ngIf="user">
  <ul class="m-0 p-0">
    <li *ngFor="let appModule of appModules" class="cursor-pointer">
      <h4 [routerLink]="appModule.path">{{ appModule.title }}</h4>
      <ul *ngIf="appModule.childModules.length">
        <li
          class="cursor-pointer"
          *ngFor="let childModule of appModule.childModules"
          [routerLink]="childModule.path"
        >
          <a
          [routerLink]="childModule.path"
          routerLinkActive="text-yellow-500"
          class="text-white"
            >{{ childModule.title }}</a
          >
        </li>
      </ul>
    </li>
  </ul> 
</nav>

<!-- Add a router outlet to display the corresponding component based on the route -->
<router-outlet></router-outlet>
