<h1 class="text-3xl font-bold underline">Hello world!</h1>
<!-- app.component.html or any appropriate template file -->

<nav class="bg-gray-800 p-4" *ngIf="user">
  <div class="flex items-center justify-between">
    <h4 class="text-white font-bold">Settings</h4>
    <ul class="flex space-x-4">
      <li>
        <a
          routerLink="app/settings/profile"
          routerLinkActive="text-yellow-500"
          class="text-white"
          >Profile</a>
      </li>
      <li>
        <a
          routerLink="app/settings/organization"
          routerLinkActive="text-yellow-500"
          class="text-white"
          >Organization</a
        >
      </li>
      <li>
        <a
          routerLink="app/settings/billings"
          routerLinkActive="text-yellow-500"
          class="text-white"
          >Billings</a
        >
      </li>
      <li>
        <a
          routerLink="app/settings/developers"
          routerLinkActive="text-yellow-500"
          class="text-white"
          >Developers</a
        >
      </li>
    </ul>
  </div>
</nav>

<!-- Add a router outlet to display the corresponding component based on the route -->
<router-outlet></router-outlet>
